---
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include header.html %}
        <div class="section has-text-centered full-height decoration-container">
            <figure class="image banner">
                <img
                    class="banner-img"
                    src="{{site.baseurl}}/assets/img/behind-arw-banner.png"
                    alt="ARW 2021 Central Committee Banner"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/circle-solid.png"
                    alt=""
                    class="decorative circle-solid"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/circle-outline.png"
                    alt=""
                    class="decorative circle-outline"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/triangle-solid.png"
                    alt=""
                    class="decorative triangle-solid"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/triangle-outline.png"
                    alt=""
                    class="decorative triangle-outline"
                />
            </figure>
        </div>
        <div class="buffer quarter-height decoration-container">
            <img src="{{site.baseurl}}/assets/img/decorations/cloth.png" alt="" class="decorative cloth" />
        </div>
        <div class="section is-small full-height decoration-container">
            <div class="container has-text-centered glass-container gradient decoration-container">
                <h1 class="title inner-text-shadow blue">WHO WE ARE</h1>
                <p class="block has-text-weight-bold" style="color: #553c78">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
                <img
                    src="{{site.baseurl}}/assets/img/decorations/triangle-blue-outline.png"
                    alt=""
                    class="decorative triangle-blue-outline"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/triangle-pink-outline.png"
                    alt=""
                    class="decorative triangle-pink-outline"
                />
            </div>
            <img
                src="{{site.baseurl}}/assets/img/decorations/circle-solid-big.png"
                alt=""
                class="decorative circle-solid-big"
            />
        </div>
        {% include footer.html %}
    </body>
</html>
