---
permalink: '/favorites/'
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}

  <div id="app" class="columns container is-multiline">
    <div v-for="[key, value] in favs" class="column is-4" :key="key">
      {% raw %}
      <figure class="image is-square">
        <img :src="baseurl + value" alt="">
      </figure>
      <a :href="'/' + key" class="button">{{ key }}</a>
      {% endraw %}
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="{{ site.baseurl }}/assets/js/favorites.js"></script>
  <script>
    const favs = getFavorites()
    Vue.createApp({
      data: () => { return { favs, baseurl: '{{ site.baseurl }}' } },
      method: {

      }
    }).mount('#app')

    window.onbeforeunload = () => setFavorites(favs)
  </script>
  
  {% include footer.html %}
</body>
</html>