---
permalink: '/favorites/'
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <h1 class="title has-text-centered">MY FAVORITE ORGANIZATIONS</h1>
  <div id="app" class="container">
    <div class="columns is-multiline">
      <div v-for="[key, value] in favs" class="column is-4" :key="key">
          {% raw %}
          <figure class="image is-square is-fullwidth">
            <img class="is-rounded" :src="baseurl + value" :alt="key + 'Logo'">
          </figure>
          <a :href="baseurl + '/' + key" class="button">{{ key }}</a>
          {% endraw %}
      </div>

      <div v-if="!favs.size" class="column is-full">
				<div class="is-flex is-flex-direction-column">
					<p class="subtitle is-3 grape" style="font-weight: 600">Seems link you don't have any favorite organizations yet!</p>
					<a href="{{ site.baseurl }}/organizations/" class="button">VIEW ORGANIZATIONS</a>
				</div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="{{ site.baseurl }}/assets/js/favorites.js"></script>
  <script>
    const favs = getFavorites()
    Vue.createApp({
      data: () => { return { favs, baseurl: '{{ site.baseurl }}' } },
      method: {

      }
    }).mount('#app')

    window.onbeforeunload = () => setFavorites(favs)
  </script>

  {% include footer.html %}
</body>

</html>