---
permalink: '/questions_and_feedback/'
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include header.html %}
        <section class="hero is-fullheight-with-navbar decoration-container">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="block mb-6">
                        <h1 class="title inner-text-shadow purple">GOT A QUESTION?</h1>
                        <a
                            type="button"
                            href="#question-section"
                            class="button is-large gradient flat-glass has-text-weight-bold grape"
                            style="width: min(100%, 500px)"
                            >Ask a question</a
                        >
                    </div>
                    <div class="block">
                        <h1 class="title inner-text-shadow purple">HAVE AN OPINION?</h1>
                        <a
                            type="button"
                            href="#feedback-section"
                            class="button is-large gradient flat-glass has-text-weight-bold grape"
                            style="width: min(100%, 500px)"
                            >Send us your thoughts</a
                        >
                    </div>
                </div>
            </div>
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/circles/1.png"
                alt=""
                class="decorative"
                id="feedback-circles-1"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/circles/2.png"
                alt=""
                class="decorative"
                id="feedback-circles-2"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/triangles/3.png"
                alt=""
                class="decorative"
                id="feedback-triangles-3"
            >
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/circles/3.png"
                alt=""
                class="decorative"
                id="feedback-circles-3"
            />
        </section>
        <section class="hero is-fullheight-with-navbar pt-6 decoration-container mt-6" id="question-section">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title inner-text-shadow purple has-text-centered">GOT A QUESTION?</h1>
                    <p class="subtitle grape has-text-centered">
                        Connect with us. The ARW Team is here to help you boost your ARW experience.
                    </p>
                    <form class="form container is-max-desktop" id="question-form">
                        <div class="field">
                            <label for="name" class="label">Name</label>
                            <div class="control has-icons-left decoration-container">
                                <input
                                    id="name"
                                    name="name"
                                    type="text"
                                    class="input gradient flat-glass"
                                    placeholder="Your Name"
                                />
                                <span class="icon is-small is-left">
                                    <i class="far fa-user"></i>
                                </span>
                                <img
                                    src="{{site.baseurl}}/assets/img/decorations/feedback/triangles/1.png"
                                    alt=""
                                    class="decorative"
                                    id="feedback-triangles-1"
                                />
                            </div>
                        </div>
                        <div class="field">
                            <label for="email" class="label">Email Address</label>
                            <div class="control has-icons-left">
                                <input
                                    id="email"
                                    name="email"
                                    type="email"
                                    class="input gradient flat-glass"
                                    placeholder="Your Email"
                                />
                                <span class="icon is-small is-left">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="question" class="label">Question</label>
                            <div class="control">
                                <textarea
                                    name="question"
                                    id="question"
                                    class="textarea gradient flat-glass"
                                    placeholder="Your Question"
                                ></textarea>
                            </div>
                        </div>
                        <div class="control">
                            <button
                                type="submit"
                                id="question-submit"
                                class="button grape is-link is-fullwidth gradient flat-glass"
                            >
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/ribbons/1.png"
                alt=""
                class="decorative"
                id="feedback-ribbons-1"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/triangles/2.png"
                alt=""
                class="decorative"
                id="#feedback-triangles-2"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/circles/4.png"
                alt=""
                class="decorative"
                id="feedback-circles-4"
            />
        </section>
        <section class="section is-medium decoration-container" id="feedback-section">
            <div class="container">
                <h1 class="title inner-text-shadow purple has-text-centered">HAVE AN OPINION?</h1>
                <p class="subtitle grape has-text-centered">
                    We appreciate the time you have taken to help us improve our site and service.<br />
                    Kindly use the form below to send us a feedback.
                </p>
                <div id="rating-stars" class="has-text-centered">
                    <a type="button" title="Give 5 stars" onclick="setActive(5)">★</a>
                    <a type="button" title="Give 4 stars" onclick="setActive(4)">★</a>
                    <a type="button" title="Give 3 stars" onclick="setActive(3)">★</a>
                    <a type="button" title="Give 2 stars" onclick="setActive(2)">★</a>
                    <a type="button" title="Give 1 star" onclick="setActive(1)">★</a>
                </div>
                <form class="form container is-max-desktop" id="feedback-form">
                    <input type="hidden" id="rating" name="rating" value="0" />
                    <div class="field">
                        <label for="bug" class="label">Bugs</label>
                        <div class="control">
                            <textarea
                                name="bug"
                                id="bug"
                                class="textarea gradient flat-glass"
                                placeholder="Report bugs"
                            ></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label for="suggestion" class="label">Suggestions</label>
                        <div class="control">
                            <textarea
                                name="suggestion"
                                id="suggestion"
                                class="textarea gradient flat-glass"
                                placeholder="Give us suggestions"
                            ></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label for="compliment" class="label">Compliments</label>
                        <div class="control">
                            <textarea
                                name="compliment"
                                id="compliment"
                                class="textarea gradient flat-glass"
                                placeholder="Make a compliment"
                            ></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button
                            type="submit"
                            id="feedback-submit"
                            class="button grape is-link is-fullwidth gradient flat-glass"
                        >
                            Submit
                        </button>
                    </div>
                </form>
            </div>
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/ribbons/2.png"
                alt=""
                class="decorative"
                id="#feedback-ribbons-2"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/circles/6.png"
                alt=""
                class="decorative"
                id="feedback-circles-6"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/circles/5.png"
                alt=""
                class="decorative"
                id="feedback-circles-5"
            />
            <img
                src="{{site.baseurl}}/assets/img/decorations/feedback/triangles/4.png"
                alt=""
                class="decorative"
                id="feedback-triangles-4"
            />
        </section>
        <div class="notification is-danger is-light">
            <button class="delete"></button>
            <p class="notification-message"></p>
        </div>
        <script src="{{ site.baseurl }}/assets/js/form-validation.js"></script>
        {% include footer.html %}
    </body>
</html>
