---
permalink: /museum-day/
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <div class="glass-container has-text-centered block" style="width: 100%">
          <h1 class="title inner-text-shadow purple">It's Museum Day, Everyday!</h1>
          <p class="grape has-text-justified">
            ARW 2021 just got refreshed with It's Museum Day, Everyday! A week-long event for the whole student body of
            De La Salle University that will serve as an avenue for the 50 organizations under Council of Student
            Organizations to introduce themselves. These organizations, divided into 5 clusters, embody a certain theme to present that
            would attract the students and only one cluster will be expected to present each day.
          </p>
        </div>
        <button class="button is-fullwidth" style="margin: auto">Register Here</button>
      </div>
    </div>
  </div>
  <section class="section">
    <h1 class="title inner-text-shadow pink">What to Expect?</h1>
  </section>
  <section class="section">
    <div class="container is-max-widescreen"></div>
    <h1 class="title inner-text-shadow pink">Schedule</h1>
    <figure class="image is-16by9">
      <img src="" alt="It's Museum Day Main Pub">
    </figure>

    <button class="button">Register Here</button>
  </section>
  {% include footer.html %}
</body>
</html>