---
permalink: /museum-day/
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}

  <div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container is-max-desktop is-flex is-flex-direction-column">
        <div class="decoration-container glass-container has-text-centered block" style="width: 100%">
          <h1 class="title inner-text-shadow purple">It's Museum Day, Everyday!</h1>
          <p class="grape has-text-justified">
            ARW 2021 just got refreshed with It's Museum Day, Everyday! A week-long event for the whole student body of
            De La Salle University that will serve as an avenue for the 50 organizations under Council of Student
            Organizations to introduce themselves. These organizations, divided into 5 clusters, embody a certain theme
            to present that would attract the students and only one cluster will be expected to present each day.
          </p>
          <img src="{{site.baseurl}}/assets/img/decorations/museum-day/circles/1.png" alt="" class="decorative"
            id="museum-circles-1">
          <img src="{{site.baseurl}}/assets/img/decorations/museum-day/ribbons/1.png" alt="" class="decorative"
            id="museum-ribbons-1">
          <img src="{{site.baseurl}}/assets/img/decorations/museum-day/triangles/1.png" alt="" class="decorative"
            id="museum-triangles-1">
        </div>
        <button class="button is-large gradient flat-glass has-text-weight-bold grape" style="margin: auto">Register Here</button>
      </div>
    </div>
  </div>

  <div class="spacerMuseum1 decoration-container">
    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/circles/2.png" alt="" class="decorative"
      id="museum-circles-2">
    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/circles/3.png" alt="" class="decorative"
      id="museum-circles-3">

    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/ribbons/2.png" alt="" class="decorative"
      id="museum-ribbons-2">

    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/ribbons/3.png" alt="" class="decorative"
      id="museum-ribbons-3">
  </div>

  <section class="section">
    <div class="container is-max-fullhd">
      <h1 class="title has-text-weight-normal dark-pink has-text-centered">What to Expect?</h1>
      <div class="tile is-ancestor" id="what-to-expect-cols">
        <div class="tile is-vertical is-parent">
          <div class="tile is-child box">
            <p>Online booths with the same experience as to the face-to-face ones</p>
          </div>
          <div class="tile is-child box">
            <p>Fun activities and games prepared by the different organizations under CSO</p>
          </div>
        </div>
        <div class="tile is-vertical is-parent">
          <div class="tile is-child box">
            <p>In-depth information about the rich beauty and culture of the organizations</p>
          </div>
          <div class="tile is-child box">
            <p>Ease in registration process</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="spacerMuseum2 decoration-container">
    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/circles/4.png" alt="" class="decorative"
      id="museum-circles-4">
    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/circles/5.png" alt="" class="decorative"
      id="museum-circles-5">
    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/triangles/2.png" alt="" class="decorative"
      id="museum-triangles-2">
    <img src="{{site.baseurl}}/assets/img/decorations/museum-day/triangles/3.png" alt="" class="decorative"
      id="museum-triangles-3">
  </div>

  <section class="section">
    <div class="container is-max-widescreen is-flex is-flex-direction-column">
      <h1 class="title dark-pink has-text-weight-normal has-text-centered">Schedule</h1>
      <figure class="image is-16by9">
        <img src="" alt="It's Museum Day Main Pub">
      </figure>
      <button class="button is-large gradient flat-glass has-text-weight-bold grape" style="margin: auto; z-index: 5">Register Here</button>
    </div>
    
    <div class="spacerMuseum3 decoration-container">
      <img src="{{site.baseurl}}/assets/img/decorations/museum-day/triangles/4.png" alt="" class="decorative"
        id="museum-triangles-4">
      <img src="{{site.baseurl}}/assets/img/decorations/museum-day/circles/6.png" alt="" class="decorative"
        id="museum-circles-6">
      <img src="{{site.baseurl}}/assets/img/decorations/museum-day/ribbons/4.png" alt="" class="decorative"
        id="museum-ribbons-4">
    </div>

  </section>
  {% include footer.html %}
</body>

</html>