---
permalink: '/organizations/'
---

<!DOCTYPE html>
<html lang="en">
{% include head.html title="Organizations" %}

<body>
  {% include header.html %}
  <div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <figure class="image">
          <img src="{{ site.baseurl }}/assets/img/organizations-banner.png" alt="Organizations Banner">
        </figure>
      </div>
    </div>
  </div>
  <main class="container is-max-widescreen">
    <section class="section mb-6">
      {% assign cso = site.organizations | where: "abbr", "CSO" | first %}
      <h1 class="title is-1 inner-text-shadow purple has-text-centered">{{ cso.complete_name }}</h1>
      <p class="subtitle has-text-centered purple has-text-weight-medium">Description for CSO</p>
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="container">
            <figure class="image is-square">
              <img class="is-rounded" src="{{ site.baseurl }}/{{ cso.logo }}" alt="CSO Logo"></img>
            </figure>
            <a href="{{ site.baseurl }}/{{ cso.abbr | downcase }}" class="button is-fullwidth btn-glass white-btn">{{ cso.abbr }}</a>
          </div>
        </div>
      </div>
    </section>

    {% for cluster in site.data.clusters %}
    <section class="section">
      <h1 class="title inner-text-shadow {{ cluster.color }}">{{ cluster.abbr }}</h1>
      <p class="subtitle {{ cluster.color }} has-text-weight-medium">{{ cluster.description }}</p>
      <div class="columns is-multiline">
        {% for org in site.organizations %}
        {% if org.cluster == cluster.abbr %}
        <div class="column is-one-quarter">
          <figure class="image is-square mb-3">
            <img src="{{ site.baseurl }}/{{ org.logo }}" alt="{{ org.complete_name }} Logo" class="is-rounded">
          </figure>
          <a href="{{ site.baseurl }}/{{ org.abbr | downcase }}" class="button is-fullwidth btn-glass white-btn">{{ org.abbr }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </section>
    {% endfor %}
  </main>
  {% include footer.html %}
</body>

</html>