---
permalink: '/registration-closed/'
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html title="Closed Registration" %}

    <body>
        {% include header.html %} {% include social-media.html %}

        <div id="app">
            <div class="hero is-fullheight-with-navbar">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="decoration-wrapper">
                            <p class="title is-1 pink-title-gradient has-text-weight-black responsive">
                                REGISTRATION IS CURRENTLY CLOSED
                            </p>
                            <p class="subtitle is-3 grape has-text-weight-semibold responsive">
                                Registration Forms will only be available from November 22 - 26 (8:00 AM to 5:00 PM) and
                                November 27 (8:00 to 9:00PM).
                            </p>
                            <a
                                href="{{ site.baseurl }}/organizations/"
                                class="button gradient flat-glass is-large has-text-weight-medium grape mt-4"
                                style="max-width: 300px; margin: auto"
                                >VIEW ORGANIZATIONS</a
                            >

                            <img
                                src="{{site.baseurl}}/assets/img/decorations/favorites/circles/1.png"
                                alt=""
                                class="decorative"
                                id="favorites-circles-1"
                            />

                            <img
                                src="{{site.baseurl}}/assets/img/decorations/favorites/circles/2.png"
                                alt=""
                                class="decorative"
                                id="favorites-circles-2"
                            />

                            <img
                                src="{{site.baseurl}}/assets/img/decorations/favorites/circles/3.png"
                                alt=""
                                class="decorative"
                                id="favorites-circles-3"
                            />

                            <img
                                src="{{site.baseurl}}/assets/img/decorations/favorites/ribbons/1.png"
                                alt=""
                                class="decorative"
                                id="favorites-ribbons-1"
                            />

                            <img
                                src="{{site.baseurl}}/assets/img/decorations/favorites/triangles/1.png"
                                alt=""
                                class="decorative"
                                id="favorites-triangles-1"
                            />

                            <img
                                src="{{site.baseurl}}/assets/img/decorations/favorites/triangles/2.png"
                                alt=""
                                class="decorative"
                                id="favorites-triangles-2"
                            />
                        </div>
                        <p class="m-auto decorative" style="max-width: 30em; z-index: 100; left: 50%; bottom: -50px; transform: translate(-50%, 100%);">
                          If you are still redirected here when the forms are supposed to be open,
                            please go back to the organization's page and perform a hard refresh by pressing <kbd>shift + F5</kbd>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
