---
permalink: '/the-arw-elite/'
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include header.html %}

  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container is-max-desktop glass-container has-text-centered">
        <section>
          <h1 class="title inner-text-shadow sky-blue">The ARW Elite</h1>
          <p class="subtitle is-italic">Who will be the ultimate ARW Elite?</p>
        </section>
        <p class="content has-text-justified mt-3">
          The first ever ARW Elite aims to highlight the goals, culture, and values of the 50 organizations under the Council of Student Organizations through a series of online challenges. The Ultimate ARW Elite, best embodies the character of their organization and is a great example which the Lasallian community would look up to. 
        </p>
      </div>
      
    </div>
  </section>
    
  </div>
  <p class="subtitle is-3 sky-blue has-text-weight-bold">FINALISTS</p>
  <h1 class="title inner-text-shadow purple">THE ARW ELITE FINALISTS</h1>
  <div class="columns is-multiline">

 


</body>
</html>