.decoration-container,
.decoration-wrapper
    position: relative
    z-index: 0 

.decorative.circle-solid
    position: absolute
    width: 16%
    top: -30%
    right: 0

    z-index: -1

    @media (max-width: 800px)
        top: -5%

.decorative.circle-outline
    position: absolute
    width: 10%
    top: -5%
    right: -3%

    z-index: -2

    @media (max-width: 800px)
        top: 5%

.decorative.triangle-solid
    position: absolute
    width: 17%
    top: 80%
    left: -3%

    z-index: -2

.decorative.triangle-outline
    position: absolute
    width: 12%
    bottom: -10%
    left: -5%

    z-index: -1

    @media (max-width: 800px)
        bottom: 10%

.decorative.cloth
    position: absolute
    top: 0
    right: -20%
    transform: translateY(-50%)
    
.decorative.triangle-pink-outline
    position: absolute
    width: Max(15%, 120px)
    top: 0
    left: 0
    transform: translate(-50%, -50%)
    z-index: -2

.decorative.triangle-blue-outline
    position: absolute
    width: Max(15%, 120px)
    top: 0
    left: 0
    transform: translate(30%, -30%)
    z-index: -1

.decorative.circle-solid-big
    position: absolute
    width: Max(15%, 150px)
    bottom: 0
    right: 0
    transform: translate(-100%, 50%)
    z-index: -1

@media (max-width: 1023px)
    .decorative.circle-solid-big
        transform: translate(0%, 50%)