@media (max-width: $desktop)
    .full-height
        min-height: calc(80vh - 4.25rem)

    .image.banner
        width: 90%
    
    .buffer 
        min-height: 100px
    
    .exec-grid
        grid-template-columns: repeat(2, 1fr)
    
    .exec-card.span-2
        grid-column: span 1

@media (max-width: 992px)
    .pheads-grid,
    .execom-grid,
    .exec-grid
        grid-template-columns: repeat(2, 1fr)

    .execom-img:nth-last-child(2)
        grid-column: auto

    .exec-card.span-2 .content
            columns: 1
        
@media (max-width: 600px)
    .image.banner
        width: 100%

    .pheads-grid,
    .execom-grid,
    .exec-grid
        grid-template-columns: 1fr

    
    

    
        

