@media (max-width: 1023px)
    .image.banner
        width: 90%
    
    .buffer 
        min-height: 100px
    
    .glass-container 
        padding: 2.5rem 1.5rem
        .title
            font-size: 3rem
        .block
            font-size: 1rem

@media (max-width: 600px)
    .full-height
        min-height: auto

    .image.banner
        width: 100%

    .glass-container 
        padding: 1.5rem 1.5rem
        .title
            font-size: 2.25rem
        .block
            font-size: 1rem
    
    .glass-container.gradient
        width: 100%

