@media (max-width: 1023px)
    .full-height
        min-height: calc(80vh - 4.25rem)

    .image.banner
        width: 90%
    
    .buffer 
        min-height: 100px
    
    .glass-container.gradient
        width: 100%

@media (max-width: 600px)
    .image.banner
        width: 100%
    
        

