#rating-stars
  font-size: 45px
  overflow: hidden
  direction: rtl
  $color: orange

  a
    color: #aaa
    text-decoration: none
    -webkit-transition: color .4s
    -moz-transition: color .4s
    -o-transition: color .4s
    transition: color .4s

    &:hover,
    &:hover ~ a,
    &:focus,
    &:focus ~ a
      color: $color
      cursor: pointer

  .selected
    color: $color

.notification
  position: fixed
  bottom: 0
  right: 1%
  left: 50%

  transform: scaleX(0)
  // transform-origin: right
  transition: transform 450ms linear

.notification.is-active
  transform: scaleX(1)
