#circle-outline-pink
    top: 17%
    left: 0

    width: Max(15%, 200px)
    transform: translateX(-45%)

#circle-solid-bigger
    top: 12%
    right: 0

    height: 50%
    transform: translateX(60%)

    @media (max-width: 800px)
        top: 30%
    

#fb-triangle-blue-outline
    top: 50%
    right: 0

    width: Max(10%, 100px)

    @media (max-width: 800px)
        top: 70%

#fb-multicloth
    top: 100%
    left: 0

    transform: translateY(-50%)

#fb-circle-solid-bottom
    top: 100%
    right: 0

    width: Max(20%, 250px)
    transform: translateY(-30%)

    @media (max-width: 800px)
        transform: translateY(0)

#fb-pink-ribbon
    pointer-events: none
    top: 0
    left: 0

    width: 100%
    height: 100%
    z-index: -1

#fb-circle-solid-question
    bottom: -10%
    left: 0

    width: Max(20%, 300px)
    transform: translateX(-50%) 

#fb-triangle-solid-question
    top: 20%
    left: 0

    width: 200px
    transform: translateX(-50%)

#fb-triangle-outline-question
    bottom: 0
    left: 100%

    width: 100px
    transform: translateX(-50%)
    z-index: -1

#fb-blue-ribbon-question
    pointer-events: none
    top: 0
    left: 0

    z-index: -1

#fb-circle-solid-opinion
    top: 50%
    left: 0%

    transform: translateX(-50%)

#fb-triangle-solid-opinion
    top: 70%
    right: 0

    transform: translateX(50%)

#fb-circle-outline-opinion
    top: 20%
    right: 0

    transform: translateX(50%)