//color variables as seen in use in Figma
//not the one defined in "main colors" and "sub colors"
$clr-background: #C4C4C4
$clr-nav-text: #58487D

*,
*::before,
*::after
    box-sizing: border-box
    background-color: $clr-background
