$clr-main-cyan: #92ddea
$clr-main-blue: #7eb8da
$clr-main-pink: #ffa5d8
$clr-main-lavender: #be9ddf
$clr-main-purple: #9579d1

$clr-sub-red: #eb4279
$clr-sub-violet: #b35399
$clr-sub-grape: #58477d
$clr-sub-gray: #9b9b9d

$clr-footer: linear-gradient(45deg, #D1E0FE, #D1E0FE 40%, #DECDF4 60%, #DECDF4)
$clr-header: linear-gradient(45deg, #D1E0FE, #D1E0FE 40%, #DECDF4 60%, #DECDF4)

*,
*::before,
*::after
  box-sizing: border-box

html
  height: 100%
  background-color: $background
  scroll-behavior: smooth
  padding-top: 4.25rem

body
  display: flex
  flex-direction: column

  height: 100%
  //max-width: $max-width
  margin: 0 auto

  background-color: $background

html
  @extend .has-navbar-fixed-top

.navbar
  @extend .is-fixed-top

@media (min-width: $desktop)
  .is-full-height
    height: 100% !important

#arw-footer-logo
  height: 3.25rem

.glass-container
  padding: 50px 30px
  box-shadow: -1px 4px 7px 0 #0000003b

.has-letter-spacing
  letter-spacing: 5px

$bg-opacity: 0.5
.glass-container.light-pink
  background-color: hsla(316deg, 100%, 94%, $bg-opacity)

.columns.is-centered .column
  margin: auto