//color variables as seen in use in Figma
//not the one defined in "main colors" and "sub colors"
$clr-nav-text: #58487D

*,
*::before,
*::after
    box-sizing: border-box
    background-color: $background

body
    margin: 0
