#home-circle-solid-big-light
  width: 30px
  
#home-tri-blue
  width: 200px
  // animation: rotate-reverse 8000ms linear infinite

#home-tri-pink
  width: 200px
  animation: rotate-reverse 8000ms linear infinite
  // animation: rotate 5000ms linear infinite

@keyframes rotate
  to 
    transform: rotate3d(0, 1, 0, 360deg)

@keyframes rotate-reverse
  from
    transform: rotate3d(0, 1, 0, -1deg)
  to
    transform: rotate3d(0, 1, 0, -359deg)

#home-circles-1
  width: 12%
  top: -5%
  right: 13%

#home-circles-2
  width: 15%
  top: 0
  right: 20%
