#home-triangles-1
  width: Max(7%, 80px)
  // animation: rotate-reverse 8000ms linear infinite
  bottom: 0
  left: 0
  transform: translate(30%, 50%)
  @media (max-width: 800px)
    transform: translate(-30%, -120%)

#home-triangles-2
  width: Max(10%, 80px)
  // animation: rotate-reverse 8000ms linear infinite
  // animation: rotate 5000ms linear infinite
  bottom: 0
  left: 0
  transform: translate(30%, 30%)
  @media (max-width: 800px)
    transform: translate(-10%, -130%)

@keyframes rotate
  to 
    transform: rotate3d(0, 1, 0, 360deg)

@keyframes rotate-reverse
  from
    transform: rotate3d(0, 1, 0, -1deg)
  to
    transform: rotate3d(0, 1, 0, -359deg)

#home-circles-1
  width: Max(7%, 80px)
  top: 0
  right: 0
  transform: translate(-220%, -140%)
  @media (max-width: 800px)
    transform: translate(30%, -100%)

#home-circles-2
  width: Max(10%, 100px)
  top: 0
  right: 0
  transform: translate(-180%, -70%)
  @media (max-width: 800px)
    transform: translate(10%, -50%)

#home-ribbons-1
  width: Max(60%, 250px)
  top: 0
  left: 0
  transform: translate(-25%, -40%)
  z-index: 1
  @media (max-width: 800px)
    transform: translate(-30%, -60%)

#home-circles-3
  width: Max(15%, 120px)
  bottom: 0
  left: 0
  transform: translate(100%, 75%)
  @media (max-width: 800px)
    transform: translate(-50%, 60%)

#home-circles-4
  width: Max(10%, 100px)
  bottom: 0
  left: 0
  transform: translate(250%, 60%)
  @media (max-width: 800px)
    transform: translate(30%, 50%)

#home-circles-5
  width: Max(13%, 100px)
  bottom: 0
  right: 0
  transform: translate(0, 120%)
  @media (max-width: 800px)
    transform: translate(60%, 80%)

#home-circles-6
  width: Max(10%, 70px)
  bottom: 0
  right: 0
  transform: translate(-60%, 200%)
  @media (max-width: 800px)
    transform: translate(0, 150%)

#home-ribbons-2
  width: Max(100%, 200px)
  bottom: 0
  right: 0
  transform: translate(10%, 40%)
  z-index: 1
  @media (max-width: 800px)
    transform: translate(15%, 75%)

#home-triangles-3
  width: Max(10%, 60px)
  bottom: 0
  left: 0
  transform: translate(10%, 50%)
  @media (max-width: 800px)
    transform: translate(-30%, 75%)

#home-triangles-4
  width: Max(8%, 50px)
  bottom: 0
  left: 0
  transform: translate(100%, 80%)
  @media (max-width: 800px)
    transform: translate(50%, 110%)
