#home-circle-solid-big-light
  width: 30px
  
#home-tri-blue
  width: 200px
  // animation: rotate-reverse 8000ms linear infinite

#home-tri-pink
  width: 200px
  animation: rotate-reverse 8000ms linear infinite
  // animation: rotate 5000ms linear infinite

@keyframes rotate
  to 
    transform: rotate3d(0, 1, 0, 360deg)

@keyframes rotate-reverse
  from
    transform: rotate3d(0, 1, 0, -1deg)
  to
    transform: rotate3d(0, 1, 0, -359deg)

#home-circles-1
  width: Max(7%, 100px)
  top: 0
  right: 0
  transform: translate(-220%, -140%)
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-circles-2
  width: Max(10%, 150px)
  top: 0
  right: 0
  transform: translate(-180%, -70%)
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-ribbons-1
  width: Max(60%, 200px)
  top: 0
  left: 0
  transform: translate(-25%, -40%)
  z-index: 1
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-circles-3
  width: Max(15%, 200px)
  bottom: 0
  left: 0
  transform: translate(100%, 75%)
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-circles-4
  width: Max(10%, 100px)
  bottom: 0
  left: 0
  transform: translate(250%, 60%)
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-circles-5
  width: Max(13%, 100px)
  bottom: 0
  right: 0
  transform: translate(0, 120%)
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-circles-6
  width: Max(10%, 100px)
  bottom: 0
  right: 0
  transform: translate(-60%, 200%)
  @media (max-width: 800px)
    transform: translate(0, 0)

#home-ribbons-2
  width: Max(100%, 200px)
  bottom: 0
  right: 0
  transform: translate(10%, 40%)
  z-index: 1
  @media (max-width: 800px)
    transform: translate(0, 0)