#favorites-circles-1
  width: Max(20%, 120px)
  top: 0
  left: 0
  z-index: 1
  transform: translate(-70%,-70%)
  @media (max-width: 800px)
    transform: translate(-70%, -120%)

#favorites-circles-2
  width: Max(12%, 100px)
  top: 0
  right: 0
  transform: translate(100%,-60%)
  @media (max-width: 800px)
    transform: translate(80%, -100%)

#favorites-circles-3
  width: Max(20%, 180px)
  bottom: 0
  right: 0
  transform: translate(70%, 150%)
  @media (max-width: 800px)
    transform: translate(60%, 120%)

#favorites-ribbons-1
  width: Max(70%, 300px)
  bottom: 0
  left: 0
  transform: translate(-40%, 80%)
  @media (max-width: 800px)
    transform: translate(-20%, 100%)

#favorites-triangles-1
  width: Max(20%, 100px)
  top: 0
  right: 0
  transform: translate(60%,-100%)
  @media (max-width: 800px)
    transform: translate(50%, -140%)

#favorites-triangles-2
  width: Max(10%, 60px)
  bottom: 0
  left: 0
  transform: translate(-30%, 120%)
  @media (max-width: 800px)
    transform: translate(0, 280%)
