#favorites-v2-circles-1
    width: Max(10%, 70px)
    top: 0
    right: 0
    transform: translate(50%, 10%)

#favorites-v2-triangles-1
    width: Max(18%, 100px)
    bottom: 0
    left: 0
    transform: translate(-30%, -5%)

#favorites-v2-ribbons-1
    width: Max(60%, 230px)
    bottom: 0
    right: 0