// @media (max-width: 800px)

#feedback-circles-1
    width: 10%
    bottom: -200px
    left: 150px
    z-index: 0
    transform: translate(150%, 50%)

#feedback-circles-2
    width: 242.83px
    height: 235.77px
    left: 28.89px
    top: 170px
    transform: rotate(49.73deg)
    transform: translate(-70%,-60%)

#feedback-circles-3
    width: 352px
    height: 350px
    left: 1153px
    top: 1139px
    transform: translate(-70%,-63%)


#feedback-ribbons-1
    width: 1583.65px
    height: 1102.88px
    left: -39.25px
    top: 1501px
    transform: translate(-50%,-10%)
	position: absolute
	width: 570px
	height: 553px
	left: 1229px
	top: 710px
	transform: translate(100,70%)
	@media (max-width: 800px)
		transform: translate(-50%, -120%)

#feedback-circles-2
	position: absolute
	width: 242.83px
	height: 235.77px
	left: 28.89px
	top: 170px
	transform: rotate(49.73deg)
	transform: translate(-70%,-60%)
	@media (max-width: 800px)
		transform: translate(-50%, -120%)

#feedback-circles-3
	position: absolute
	width: 352px
	height: 350px
	left: 1153px
	top: 1139px
	transform: translate(70%,30%)
	@media (max-width: 800px)
		transform: translate(-50%, -120%)

#feedback-ribbons-1
	position: absolute
	width: 1583.65px
	height: 1102.88px
	left: -39.25px
	top: 1501px
	transform: translate(-50%,-10%)

#feedback-triangles-1
	width: 20%
	top: 0
	right: 0
	z-index: 0
	transform: translate(90,-30%)

#feedback-triangles-2
	width: 10%
	bottom: -200px
	left: 150px
	z-index: 0
	transform: translate(50%, 50%)
