// @media (max-width: 800px)

#feedback-circles-1
    position: absolute
    width: 570px
    height: 553px
    left: 1229px
    top: 710px
    transform: matrix(1, 0, 0, -1, 0, 0)

#feedback-circles-2
    width: 15%
    top: 0
    right: 0
    z-index: 0
    transform: translate(-70%,-60%)

#feedback-circles-3
    width: 20%
    bottom: -10
    right: 0
    z-index: 0
    transform: translate(70%,30%)

#feedback-ribbons-1
    width: 60%
    top: 0
    left: 150px
    z-index: 0
    transform: translate(-50%,-10%)

#feedback-triangles-1
    width: 20%
    top: 0
    right: 0
    z-index: 0
    transform: translate(90,-30%)

#feedback-triangles-2
    width: 10%
    bottom: -200px
    left: 150px
    z-index: 0
    transform: translate(50%, 50%)