//solidcircle_works
#feedback-circles-1
  // width: 570px
  // height: 553px
  // left: 1229px
  // top: 710px
  // transform: translate(80%, -115%)
  @media (max-width: 800px)
    transform: translate(40%, -730%)

//shallowcircle_works
#feedback-circles-2
  // width: 242.83px
  // height: 235.77px
  // left: 28.89px
  // top: 170px
  // transform: rotate(49.73deg)
  // transform: translate(-50%,-60%)
  @media (max-width: 800px)
    transform: translate(-100%, -120%)

//shallowtriangle_works
#feedback-triangles-1
  // width: 35%
  // top: 0
  // right: 0
  // z-index: 0
  // transform: translate(180%, -285%)

#feedback-circles-3
  // width: 352px
  // height: 350px
  // left: 1153px
  // top: 1139px
  // bottom: 0
  // right: 0
  // z-index: -5
  // transform: translate(140%,-80%)

#feedback-circles-4
  // width: 20%
  // transform: translate(-50%,120%)

  @media (max-width: 800px)
    transform: translate(-50%, -120%)

#feedback-triangles-2
  // width: 10%
  // bottom: -200px
  // left: 150px
  // z-index: 1
  // transform: translate(-70%, 150%)

#feedback-triangles-3
  // width: 10%
  // bottom: -200px
  // left: 150px
  // z-index: 0
  // transform: translate(590%, 130%)

//ribbon works but too big?
#feedback-ribbons-1
  // min-width: 111%
  // height: 130%
  // transform: translate(-5%, -10%)

#feedback-ribbons-2
  // width: 100%
  // left: 0
  // transform: translate(-30%, 110%)

  @media (max-width: 800px)
    min-width: max(110%, 130%)
    height: max(155%, 175%)
    transform: translate(-8%, -60%)

#feedback-circles-5
  // width: 15%
  // transform: translate(450%,-320%)

  @media (max-width: 800px)
    transform: translate(-40%, 120%)

#feedback-circles-6
  // width: 352px
  // transform: translate(-70%,-150%)

  @media (max-width: 800px)
    transform: translate(-50%, 150%)

#feedback-triangles-4
  // width: 10%
  // bottom: -200px
  // left: 150px
  // z-index: 0
  // transform: translate(850%, -150%)
