.bubble
    position: absolute
    aspect-ratio: 1

    width: 120px

    opacity: 0.5
    

    border-radius: 50%
    background: $clr-header
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
    animation: bubble var(--speed) linear var(--delay) infinite, sideways 5s linear infinite alternate 

.bubble.small
    width: 50px

.bubble.large
    width: 250px

@media (max-width: 600px)
    .bubble
        width: 50px
    .bubble.small
        width: 20px
    .bubble.large
        width: 100px


@keyframes bubble
    0%
        bottom: 0
        tranform: translateY(-50%)
    100%
        bottom: 100%
        tranform: translateY(0)

@keyframes sideways
    from
        margin-left: 0px
    to 
        margin-left: 50px