$gradient-glass: linear-gradient(200deg, #b5e7f1dc, #b9e5ee8e 20%, #dbcaf0c9 80%, #d9c5f0c9)
$gradient-flat-glass: linear-gradient(200deg, #E5F5FA, #E5F5FA 40%, #FAEBF7 60%, #FAEBF7)
$gradient-flat-glass-soft: linear-gradient(200deg, #F4F7FB, #F4F7FB 40%, #F9F4FB 60%, #F9F4FB)

.gradient.glass
    background: $gradient-glass

.gradient.flat-glass
    background: $gradient-flat-glass

input.gradient.flat-glass,
textarea.gradient.flat-glass
    background: $gradient-flat-glass-soft