.npsm
  border: none
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3) !important
  -webkit-tap-highlight-color: transparent

.npsm.pressed
  box-shadow: inset 6px 6px 16px 0 rgba(0, 0, 0, 0.25), inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3) !important
