<header>
    <nav class="navbar container">
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <img class="logos" src="{{ site.baseurl }}/assets/img/logos/logos.png" alt="" />
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <ul class="buttons">
                        <li>
                            <a href="#" class="button btn-gradient">Home</a>
                        </li>
                        <li>
                            <a href="#" class="button btn-gradient">Organizations</a>
                        </li>
                        <li>
                            <a href="#" class="button btn-gradient">Mr. & Ms. ARW</a>
                        </li>
                        <li>
                            <a href="#" class="button btn-gradient">ARW Team</a>
                        </li>
                        <li>
                            <a href="#" class="button btn-gradient">Pinned Organizations</a>
                        </li>
                        <li>
                            <a href="#" class="button btn-gradient">Question & Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
