<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if include.title %}{{ include.title }}{% else %}ARW 2021{% endif %}</title>
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/logos/ARW2021.png" />
    <meta
        name="description"
        content="The official DLSU Annual Recruitment Week 2021 website. In here you will see
    the numerous orgs for the Lasallian community."
    />

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
