<div class="social-media-container ml-3" style="position: fixed; top: 50%; transform: translateY(-50%); z-index: 9000">
    <div class="social-media-btn is-relative">
        <a
            rel="noreferrer"
            target="_blank"
            href="https://facebook.com/DLSUARW"
            style="display: inline-block; pointer-events: auto; width: 50px; height: 50px; border-radius: 50%"
            class="button gradient-anim has-text-white is-size-4 py-1 p-4 mb-1"
        >
            <i
                class="fab fa-facebook-f"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
            ></i>
        </a>
    </div>
    <div class="social-media-btn is-relative">
        <a
            rel="noreferrer"
            target="_blank"
            href="https://dlsucso.com"
            style="display: inline-block; pointer-events: auto; width: 50px; height: 50px; border-radius: 50%"
            class="button gradient-anim has-text-white is-size-4 py-1 p-4 mb-1"
            ><i
                class="far fa-window-maximize"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
            ></i
        ></a>
    </div>
    <div class="social-media-btn is-relative">
        <a
            rel="noreferrer"
            target="_blank"
            href="https://www.instagram.com/dlsu_arw/"
            style="display: inline-block; pointer-events: auto; width: 50px; height: 50px; border-radius: 50%"
            class="button gradient-anim has-text-white is-size-4 py-1 p-4 mb-1"
            ><i
                class="fab fa-instagram fa-lg"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
            ></i
        ></a>
    </div>
</div>
