<!DOCTYPE html>
<html lang="en">
    {% include head.html title="Behind ARW" %}
    <body>
        {% include header.html %}
        <div class="bubble-wrap"></div>

        <div
            class="
                section
                has-text-centered
                full-height
                decoration-container
                is-flex is-flex-direction-column is-justify-content-center
            "
        >
            <div class="bubble" style="--speed: 15s; --delay: 0s; left: 0%"></div>
            <div class="bubble small" style="--speed: 22s; --delay: 0s; left: 10%"></div>
            <div class="bubble" style="--speed: 13s; --delay: 0s; left: 20%"></div>
            <div class="bubble small" style="--speed: 13s; --delay: 0s; left: 25%"></div>
            <div class="bubble small" style="--speed: 17s; --delay: 0s; left: 30%"></div>
            <div class="bubble" style="--speed: 17s; --delay: 0s; left: 40%"></div>
            <div class="bubble small" style="--speed: 15s; --delay: 0s; left: 60%"></div>
            <div class="bubble" style="--speed: 11s; --delay: 0s; left: 90%"></div>
            <div class="bubble large" style="--speed: 15s; --delay: 0s; left: 80%"></div>

            <figure class="image banner">
                <picture>
                    <source
                        srcset="{{site.baseurl}}/assets/img/behind-arw-banner-mobile.png"
                        media="(max-width: 800px)"
                    />
                    <img
                        class="banner-img"
                        src="{{site.baseurl}}/assets/img/behind-arw-banner.png"
                        alt="ARW 2021 Central Committee Banner"
                    />
                </picture>

                <img
                    src="{{site.baseurl}}/assets/img/decorations/behind-arw/circles/1.png"
                    alt=""
                    class="decorative"
                    id="behind-arw-circles-1"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/behind-arw/circles/2.png"
                    alt=""
                    class="decorative"
                    id="behind-arw-circles-2"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/behind-arw/triangles/1.png"
                    alt=""
                    class="decorative"
                    id="behind-arw-triangles-1"
                />
                <img
                    src="{{site.baseurl}}/assets/img/decorations/behind-arw/triangles/2.png"
                    alt=""
                    class="decorative"
                    id="behind-arw-triangles-2"
                />
            </figure>
        </div>
        <div class="buffer quarter-height decoration-container">
            <img
                src="{{site.baseurl}}/assets/img/decorations/behind-arw/ribbons/1.png"
                alt=""
                class="decorative"
                id="behind-arw-ribbons-1"
            />
        </div>
        <div
            class="
                section
                is-small
                mt-6
                full-height
                decoration-container
                is-flex is-flex-direction-column is-justify-content-center
            "
        >
            <div class="decoration-wrapper">
                <div class="container has-text-centered glass-container gradient glass decoration-container">
                    <h1 class="title inner-text-shadow blue">WHO WE ARE</h1>
                    <p class="block" style="color: #553c78">{{page.who_we_are}}</p>
                    <img
                        src="{{site.baseurl}}/assets/img/decorations/behind-arw/triangles/3.png"
                        alt=""
                        class="decorative"
                        id="behind-arw-triangles-3"
                    />
                    <img
                        src="{{site.baseurl}}/assets/img/decorations/behind-arw/triangles/4.png"
                        alt=""
                        class="decorative"
                        id="behind-arw-triangles-4"
                    />
                </div>
                <img
                    src="{{site.baseurl}}/assets/img/decorations/behind-arw/circles/3.png"
                    alt=""
                    class="decorative"
                    id="behind-arw-circles-3"
                />
            </div>
        </div>
        <div class="section full-height">
            <div class="container">
                <h1 class="title inner-text-shadow blue">PROJECT HEADS</h1>
                <p class="block has-text-justified has-text-weight-medium" style="color: #553c78">
                    {{page.project_heads}}
                </p>
                <div class="pheads-grid">
                    {% for img in page.project_heads_images%}
                    <img class="phead-img" src="{{site.baseurl}}{{img}}" alt="Project Head of ARW" />
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="section is-small full-height">
            <div class="container">
                <h1 class="title inner-text-shadow blue">EXECUTIVE COMMITTEE</h1>
                <p class="block has-text-justified has-text-weight-medium" style="color: #553c78">
                    {{page.executive_committee}}
                </p>
                <div class="execom-grid">
                    {% for img in page.executive_committee_images %}
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    <img class="execom-img" src="{{site.baseurl}}{{img}}" alt="" />
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="section is-small full-height">
            <div class="container">
                <h1 class="title inner-text-shadow blue">EXECUTIVES</h1>
                <p class="block has-text-justified has-text-weight-medium" style="color: #553c78">
                    {{page.executives}}
                </p>
                <div class="exec-grid">
                    {% for committee in site.data.committees %}
                    <div class="exec-card gradient glass {% if forloop.index == 4 %} span-2 {% endif %}">
                        <p class="title">{{ committee.title }}</p>
                        <div class="content">
                            {% for member in committee.members %}
                            <p class="name">{{ member }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include footer.html %}

        <script src="{{site.baseurl}}/assets/js/bubble.js" defer></script>
    </body>
</html>
