<!DOCTYPE html>
<html lang="en">
    {% include head.html title="Frequently Asked Questions" %}
    <body>
        {% include header.html %}
        <main class="container is-max-widescreen">
            <header class="has-text-centered is-size-3 mt-4">
                <p class="inner-text-shadow drk-pink" style="font-size: 4rem; font-weight: 900">
                    Frequently Asked Questions
                </p>
                <p class="inner-text-shadow drk-purple is-size-1" style="font-weight: 900">(FAQs)</p>
            </header>

            {% for qna in page.faq %}
            <div class="accordion glass-container light-pink mt-5 is-size-4" style="width: 100%; color: #8a7f98">
                <div class="accordion-header" style="display: flex">
                    <span
                        class="inner-text-shadow pink is-size-3 has-text-weight-bold"
                        style="transform: translateY(-7px)"
                        >Q:</span
                    >
                    <span class="ml-4">{{qna.question}}</span>
                    <i class="fas fa-plus-circle" style="transform: translateY(7px)"></i>
                </div>
                <div class="accordion-content closed" style="display: flex; text-align: justify">
                    <span
                        class="inner-text-shadow pink is-size-3 has-text-weight-bold"
                        style="transform: translateY(-7px)"
                        >A:</span
                    >
                    <span class="ml-4 mr-6">{{qna.answer}}</span>
                </div>
            </div>
            {% endfor %}
        </main>
        {% include footer.html %}
    </body>
    <script src="{{site.baseurl}}/assets/js/accordion.js" defer></script>
</html>
