<!DOCTYPE html>
<html lang="en">
    {% include head.html title="Frequently Asked Questions" %}
    <body>
        {% include header.html %} {% include social-media.html %}
        <main class="container is-max-widescreen mx-5" style="align-self: center; display: grid; place-items: center">
            <header class="has-text-centered mt-4">
                <p class="inner-text-shadow drk-pink is-size-3-mobile" style="font-size: 4rem; font-weight: 900">
                    Frequently Asked Questions
                </p>
                <p class="inner-text-shadow drk-purple is-size-1 is-size-4-mobile" style="font-weight: 900">(FAQs)</p>
            </header>

            {% for qna in page.faq %}
            <div class="accordion glass-container light-pink m-3 px-6 is-size-4" style="width: 100%; color: #8a7f98">
                <div class="accordion-header" style="display: flex">
                    <span
                        class="inner-text-shadow pink is-size-3"
                        style="position: relative; transform: translateY(-7px); font-weight: 900"
                        >Q:</span
                    >
                    <span class="ml-4 is-size-5-mobile">{{qna.question}}</span>
                    <i
                        class="fas fa-plus-circle"
                        style="position: absolute; right: 20px; transform: translateY(7px)"
                    ></i>
                </div>
                <div
                    class="accordion-content closed has-text-left-mobile has-text-justified-desktop"
                    style="display: flex"
                >
                    <span class="inner-text-shadow pink is-size-3" style="transform: translateY(-7px); font-weight: 900"
                        >A:</span
                    >
                    <span class="ml-4 mr-6 is-size-5-mobile">{{qna.answer}}</span>
                </div>
            </div>
            {% endfor %}
            <a href="{{site.baseurl}}/questions_and_feedback/" style="justify-self: end"
                ><button
                    class="button is-large gradient flat-glass m-5 has-text-weight-semibold"
                    style="float: right; color: #8a7f98"
                >
                    Got More Questions? <i class="fas fa-sign-out-alt ml-3"></i>
                </button>
            </a>
        </main>
        {% include footer.html %}
    </body>
    <script src="{{site.baseurl}}/assets/js/accordion.js" defer></script>
</html>
