<!DOCTYPE html>
<html lang="en">
{% assign btn_color = page.button_color | replace: "b", "ba" | replace: ")", ", 0.9)" %}
{% include head.html title=page.complete_name color=page.title_color button_color=btn_color desc_color=page.description_color %}

<body>
	{% include header.html %}
	<div class="hero is-fullheight-with-navbar" id="org-hero"
		style="background: url('{{ site.baseurl }}{{ page.hero_bg }}') no-repeat; background-size: cover;">
		<div class="hero-body">
			<div class="container is-max-widescreen">
				<div>
					<figure class="image is-256x256 block" style="margin: 20px auto">
						<img class="is-rounded" src="{{ site.baseurl }}{{ page.logo }}" alt="{{ page.complete_name }} logo" />
					</figure>
					<h1 class="title has-text-centered has-letter-spacing is-custom">{{ page.abbr }}</h1>
					<div class="columns is-centered" id="org-hero-buttons">
						<div class="column is-four-fifths-mobile is-one-quarter">
							<a rel="noreferrer" target="_blank" class="button is-medium is-fullwidth is-custom"
								href="{{ page.fb_link }}">
								<span class="icon is-small">
									<i class="fab fa-facebook-f"></i>
								</span>
								<span>Facebook</span>
							</a>
						</div>
						<div class="column is-four-fifths-mobile is-one-quarter">
							<button rel="noreferrer" target="_blank" class="button is-medium is-fullwidth is-custom"
								onclick="saveFavorite(this)">
								<span class="icon is-small decoration-container">
									<i class="far fa-heart"></i>
									<i class="fa fa-heart"></i>
								</span>
								<span>Favorites</span>
							</button>
						</div>
						<div class="column is-four-fifths-mobile is-one-quarter">
							<a rel="noreferrer" target="_blank" class="button is-medium is-fullwidth is-custom"
								href="https://www.instagram.com/dlsu_arw/">
								<span class="icon is-small">
									<i class="fas fa-edit"></i>
								</span>
								<span>Register</span>
							</a>
						</div>
					</div>
				</div>
				<div class="mt-6">
					<div class="columns is-desktop">
						<div class="column">
							<figure class="image is-16by9">
								<iframe src="{{ page.vid_link }}" frameborder="0" title="Video Player" class="has-ratio"
									allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
									allowfullscreen></iframe>
							</figure>
						</div>
						<div class="column">
							<div class="container pressed-glass is-custom">
								<p class="title is-5 has-text-weight-bold" style="color: inherit">{{ page.abbr }}</p>
								<div class="content has-text-justified">{{ page.about_us }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="section is-small container is-max-widescreen">
		<div class="columns">
			<div class="column">
				<div class="is-flex is-flex-direction-column is-justify-content-space-around is-full-height">
					<div class="block">
						<h1 class="title inner-text-shadow has-letter-spacing is-custom">MISSION</h1>
						<div class="content has-text-justified">{{ page.mission }}</div>
					</div>
					<div class="block">
						<h1 class="title inner-text-shadow has-letter-spacing is-custom">VISION</h1>
						<div class="content has-text-justified">{{ page.vision }}</div>
					</div>
				</div>
			</div>
			<div class="column">
				<figure class="image">
					<img src="{{ site.baseurl }}{{ page.main_pub }}" alt="Main Publication" />
				</figure>
			</div>
		</div>
	</section>
	<section class="section is-small container is-max-widescreen" style="width: 100%">
		<h1 class="title inner-text-shadow is-custom">FLAGSHIP EVENTS</h1>
		<div class="carousel-button-wrapper" style="position: relative">
			<div class="carousel-container">
				{% for event in page.events reversed %}
				<figure class="image is-16by9 carousel-item">
					<img src="{{ site.baseurl }}{{ event }}" alt="Flagship event poster" />
				</figure>
				{% endfor %}
				<button class="button btn-prev npsm">&lt;</button>
				<button class="button btn-next npsm">></button>
			</div>
		</div>
	</section>
	<section class="section is-small container is-max-widescreen" style="width: 100%">
		<div class="columns is-desktop">
			<div class="column">
				<figure class="image is-square">
					<img src="{{ site.baseurl }}{{ page.membership_banner }}" alt="Membership Banner" />
				</figure>
			</div>
			<div class="column">
				<div class="
                            is-flex
                            is-flex-direction-column
                            is-align-items-center
                            is-justify-content-center
                            is-full-height
                        ">
					<a href="{{ page.reg_link }}" class="button is-large block is-fullwidth is-custom" style="max-width: 300px">
						<span class="icon is-medium">
							<i class="fas fa-edit fa-lg"></i>
						</span>
						<span>Register</span>
					</a>
					<button class="button is-large block is-fullwidth is-custom" style="max-width: 300px"
						onclick="saveFavorite()">
						<span class="icon is-medium">
							<i class="far fa-heart fa-lg"></i>
							<i class="fa fa-heart fa-lg"></i>
						</span>
						<span>Favorites</span>
					</button>
					<div class="content has-text-weight-bold has-text-centered is-size-4 is-italic is-custom">
						{{ page.tagline }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{ site.baseurl }}/assets/js/carousel.js" defer></script>
	<script src="{{ site.baseurl }}/assets/js/favorites.js"></script>
	<script defer>
		let favs = getFavorites();
		const likeBtn = document.querySelectorAll('.fa.fa-heart');

		function configButtons() {
			likeBtn.forEach(btn => {
				if (!favs.get('{{ page.abbr }}')) {
					btn.classList.add('unlike');
					btn.classList.remove('like');
				} else {
					btn.classList.add('like');
					btn.classList.remove('unlike');
				}
			});
		}
		configButtons();

		function saveFavorite(isClicked) {
			if (!favs.delete('{{ page.abbr }}')) {
				favs.set('{{ page.abbr }}', '{{ page.logo }}');
			}
			configButtons();
			setFavorites(favs)
		}

		window.onstorage = () => {
			const isPresent = favs.get('{{ page.abbr }}')
			console.log("HERE AND ", isPresent)
			favs = getFavorites(false)
			configButtons()
		}
	</script>
	{% include footer.html %}
</body>

</html>