@import "../utilities/derived-variables"

// $footer-background-color: $scheme-main-bis !default
$footer-background-color: $background
$footer-color: false !default
// $footer-padding: 3rem 1.5rem 6rem !default
$footer-padding: 2rem 1.5rem 0 !default

.footer
  background-color: $footer-background-color
  padding: $footer-padding
  height: 3.25rem
  @if $footer-color
    color: $footer-color
